.resumenItem {
	display: grid;
	margin: 0.5vh 0.5vw;
	width: inherit;
	height: inherit;
}

.resumenItem .resumenItemContent {
	margin: 1vh 0;
	z-index: 2;
	margin: auto;
	opacity: 0;
	width: inherit;
	height: inherit;
	display: flex;
	position: absolute;
    transition: all 0.5s;	
    -webkit-transition: all 0.5s;
}

.resumenItemContent h1 {
	font-size: 2vw;
	color: #FFFFFF;	
	margin: auto;
}

.resumenItem img {
	width: inherit;
	height: inherit;
}

.resumenItem:after {
    content:'';
    color:#fff;
    position:absolute;
    width:inherit; height:inherit;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.resumenItem:hover:after {
    opacity:1;
}

.resumenItem:hover .resumenItemContent {
	opacity: 1;
}
