@import '../../styleGlobalVariables';

#resumen{
	color: black;
	background-color: white;
	min-height: $containerHeight;
	padding: 1vh 1vw;	
}

#resumenItems{
	display: inline-flex;
}

#resumen > h1{
	color: #333333;
	font-size: 2vw;
}

table{
	border-collapse: collapse;
}