@import '../../styleGlobalVariables';

#resumen{
	color: black;
	background-color: #E1E1E1;
	min-height: $containerHeight;
	padding: 1vh 1vw;	
}

#resumenItems{
	display: inline-flex;
	overflow-x: hidden;
}

#resumen > h1{
	color: #333333;
	font-size: 2vw;
}

table{
	border-collapse: collapse;
}

@media only screen and (max-width: 768px) {
  #resumen > h1 { 
	font-size: 4vw !important;
  }
}
