/* Altura navbar = 8vh*/

@import '../../styleGlobalVariables';

nav {
  width: 100%;  
  height: $navbarHeight;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #060300;
  font-size: 1em;
  text-align: left;
  z-index: 10;
  
  transform: translateY(-$navbarHeight);
  
  transition-duration: 0.4s; 
  -webkit-transition: all 0.4s ease; 
  -moz-transition: all 0.4s ease; 
  -o-transition: all 0.4s ease; 
  -ms-transition: all 0.4s ease; 
  transition: all 0.4s ease; 
  
}

.hiddenTop{
	background-color: #000000;
	position: fixed;
	transform: translateY(-$navbarHeight);
}

.fixedTop {
	background-color: #000000;
	position: fixed;
	transform: translateY(0);
}

.headerNavbar{
	position: absolute;
	width: 100%;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavbar a{
	vertical-align: center;
	padding: 0.5em;
	margin: 0.5em;
	font-size: 1vw;
	letter-spacing: 0.1vw;
	color: #FFFFFF;
	text-decoration: none;
}

header .headerBanner img{
	padding: 1em;
	width: 32em;
}

.banner {
	width: 20em;
	height: 6em;
}

.logo {
	width: 3.5vw;
	height: $navbarHeight;
}

.logoContainer{
	width: 4vw;
	height: $navbarHeight;
	padding: 0 !important;
	margin: 0 !important;
}

.headerNavbar a:hover {
	-webkit-animation: hoverBtn linear forwards 0.3s;
	animation: hoverBtn linear forwards 0.3s;
}

@keyframes hoverBtn{
	
	0%{
		color: #FFFFFF;
		stroke: #FFAF00;
	}
	100%{
		color: #FFAF00;
		stroke: #554315;	
		
	}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav {
  	display:none;
  }
  
}


