@import '../../styleGlobalVariables';

#contacto{
	color: #E1E1E1;
	background-image: url("../../images/imagenes/sesion03.jpg");
	min-height: $containerHeight;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#contacto > h1{
	font-size: 2vw;
}


#contactoContent{
	padding: 1vh 1vw;		
	width: 100%;
	min-height: $containerHeight;
	background-color: #00000099;
}