@import '../../styleGlobalVariables';

#contacto{
	color: #E1E1E1;
	background-image: url("../../images/imagenes/sesion03.jpg");
	min-height: $containerHeight;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#contactoContent h1{
	font-size: 2vw;
	margin: 0;
}

#contactoContent h2{
	font-size: 1.4vw;
}


#contactoContent{
	padding: 1vh 1vw;		
	margin: auto;
}

#contactoContainer {
	background-color: #00000099;
	width: 100%;	
	display: flex;
	min-height: $containerHeight;	
}

.formularioContacto {
	display: grid;
	text-align: left;
	font-size: 1.4vw;
	width: 30vw;
	margin: auto;
}

.formularioContacto > input {
	margin-bottom: 0.2em;
	font-size: 1.4vw;
	border-left: none;
	border-right: none;
	border-top: none;
	background: none;
    border-bottom: 1px solid white;
    color: white;
}

.formularioContacto > textarea {
	font-size: 1.4vw;
	resize: none;
	height: 12vh;
}


.formularioContacto > input[type="submit"] {
	margin-top: 1em;
	height: 4vh;
	font-size: 1.4vw;	
    text-decoration: none;
	border: 0;
	border-radius: 0em;
	background: none;
	border: 1px solid white;
	color: white;
	width: 8vw;
	
	transition-duration: 0.4s; 
	-webkit-transition: all 0.4s ease; 
	-moz-transition: all 0.4s ease; 
	-o-transition: all 0.4s ease; 
	-ms-transition: all 0.4s ease; 
	transition: all 0.4s ease; 
	
}

.formularioContacto > input::placeholder {
	color: #999999;
	font-weight: lighter;
}

.formularioContacto > input[type="submit"]:hover {
	background-color: #fcdb92;
	border: none;
	color: black;
	border-radius: 0.2em;
}

.formularioContacto > input[type="submit"]:focus {
	background-color: #ffd16b;
	outline-style: none;
}

.formularioContacto > input[type="text"]:focus, 
.formularioContacto > input[type="email"]:focus, 
.formularioContacto > textarea:focus {
	outline-style: none;
}

#contactoInfo {
	margin: auto;
	display: inline-flex;
}

#staticContactoInfo{
	width: 20vw;
	display: block;
	font-size: 1.4vw;
	text-align: left;
}
#staticContactoInfo div {
	margin: 1vh;
}

#contactoRedesSociales a {
	color: white;
	text-decoration: none;
	margin: 0.2vw;
}

.hidden {
	visibility: collapse !important;
	opacity: 0 !important;
}

.visible {
	visibility: visible !important;
	opacity: 1 !important;
}

#sendMessage{
	display: flex;
	transition-duration: 0.4s; 
	-webkit-transition: visibility 0s, opacity 0.4s linear; 
	-moz-transition: visibility 0s, opacity 0.4s linear; 
	-o-transition: visibility 0s, opacity 0.4s linear; 
	-ms-transition: visibility 0s, opacity 0.4s linear; 
	transition: visibility 0s, opacity 0.4s linear; 
	visibility: collapse;
	top: 0;
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100%;
	min-height: $containerHeight;
	background-color: #00000099;
	color: #333333;
}

#sendMessage div{
	border-radius: 0.5em;
	background-color: #DDDDDD;
	margin: auto;
	width: 40vw;
	padding: 1vh 1vw;
	text-align: center;
}

#sendMessage p{
	text-align: center;
	margin: 1em 2em;
}

#sendMessage svg{
	font-size: 3vw;
	color: #0080CC;
}

@media only screen and (max-width: 768px) {
  #contactoContent > h1 { 
	font-size: 4vw !important;
  }
  
  #contactoContent h2{
	font-size: 2.8vw;
  }
  
  .formularioContacto {
	font-size: 2.8vw;
  }
  
  .formularioContacto > input[type="submit"] {
	margin-top: 1em;
	height: 4vh;
	font-size: 2.8vw;
	width: 12vw;
  }
  
  #staticContactoInfo{
	width: 40vw;
	font-size: 2.8vw;
  }
  
  .formularioContacto > input {
	font-size: 2.8vw;
  }
  
  .formularioContacto {
  	width: 40vw;
  }
  
  #contacto{
	background-image: url("../../images/imagenes/sesion03min.jpg");
  }
  
  #sendMessage svg{
	font-size: 6vw;
  }
  
  #sendMessage div{
	width: 70vw;
  }
  
  #sendMessage h1{
  	font-size: 4vw;
  }
  
  #sendMessage p{
  	max-width: 60vw;
	font-size: 3vw;
  }
  
}
